.button {
  text-align: center;
  color: @basic-white;
  text-transform: uppercase;
  background-color: @bright-green;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 14px;
  line-height: 1.2;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 0px;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

.button--order {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 109px;
  padding-right: 109px;

  &:hover,
  &:focus {
    background-color: @green-hover;
  }

  &:active {
    color: @opacity-color-second;
  }

  @media (min-width: @tablet-width) {
    padding-left: 93px;
    padding-right: 93px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 20px;
    padding-left: 53px;
    padding-right: 53px;
  }
}
