.comparison {
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    justify-content: space-between;
    padding-right: 62px;
    padding-left: 56px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.comparison__time {
  color: @basic-black;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  margin-top: 27px;
  margin-bottom: 31px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.5;
    border-bottom: 1px dashed @basic-black;
    margin-bottom: 68px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}
