.introduction__wrap {
  font-family: @font-full;
  background-color: @basic-white;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  width: 100%;
  min-height: 305px;
}

.introduction__title {
  font-family: @font-full;
  font-weight: @normal;
  color: @basic-white;
  line-height: 1;
  font-size: 36px;
  margin: 0;
  padding-top: 27px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 1;
    color: @basic-black;
    padding: 0;
    text-align: start;
    max-width: 415px;
  }
}

.introduction__tagline {
  font-weight: @normal;
  text-transform: uppercase;
  margin: 0;
  color: @basic-white;
  padding-top: 25px;
  padding-bottom: 302px;
  font-size: 14px;
  line-height: 1;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-top: 41px;
    padding-bottom: 49px;
    padding-left: 0;
    padding-right: 0;
    color: @basic-black;
    text-align: start;
    font-size: 20px;
    line-height: 1;
  }

  @media (min-width: @desktop-width) {
    padding-top: 40px;
    padding-bottom: 52px;
  }
}
