.logo-image {
  padding-right: 0;

  &:hover {
    color: @opacity-first;
  }

  &:active {
    color: @opacity-second;
  }

  @media (min-width: @tablet-width) {
    padding-top: 25px;
    width: 174px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 53px;
    width: 202px;
    height: 60px;
  }
}
