.more {
  text-align: center;
  margin-bottom: 25px;
  @media (min-width: @tablet-width) {
      margin: 0;
  }
  @media (min-width: @desktop-width) {
      max-width: 245px;
      max-height: 512px;
  }
}

.more__button {
  background-color: @neutral;
  color: @dark-grey;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 94px;
  padding-right: 94px;
  @media (min-width: @tablet-width) {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 79px;
      padding-right: 79px;
  }
  @media (min-width: @desktop-width) {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 39px;
      padding-right: 39px;
  }
}
