.options {
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
  text-align: start;
}

.options__name::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0%;
  height: 3px;
  width: 100%;
  background-color: @bright-green;
  z-index: -1;

  @media (min-width: @tablet-width) {
    margin-top: 22px;
  }
}


.options__name {
  font-size: 24px;
  line-height: 1;
  color: @basic-black;
  text-transform: none;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 400;
  margin: 0;
  width: auto;
  position: relative;


  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 76px;
  }
}


.options__name--contact {
  max-width: 187px;

  @media (min-width: @desktop-width) {
    max-width: 100%;
  }
}

.options__name--additional {
  margin-bottom: 34px;
  padding-top: 27px;

  @media (min-width: @tablet-width) {
    padding-bottom: 57px;
  }
}

.options__name--comment {
  padding-top: 27px;
}

.options__selections--data {
  padding-bottom: 13px;
  color: @dark-grey;
  font-size: 16px;
  line-height: 1.1;
  display: flex;

  @media (min-width: @tablet-width) {
    padding-bottom: 20px;
    font-size: 20px;
    line-height: 1.5;
    width: 100%;
  }
}

.options__selections input {
  color: @dark-grey;
  font-size: 16px;
  line-height: 1.1;
  border: 1px solid @grey;
  padding: 10px 15px 12px;
  width: 100%;
  font-family: "Oswald", "Arial", sans-serif;
}

.options__wrap {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.options__communication {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: flex-start;
  }
}

.options__comment {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.1;
  color: @dark-grey;
  padding: 12px 13px;
  border: 1px solid @grey;
  width: 100%;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.5;
    min-width: 313px;
    border: 1px solid @border-color-basic;
  }
}

.options__label--data {
  margin-right: 16px;
  margin-top: 10px;
  max-width: 50%;
  flex-shrink: 0;
}

.options__selections--program {
  cursor: pointer;
}

.options__selections--program input {
  margin: 0;
}

.options__label--program {
  position: relative;
  font-size: 16px;
  display: block;
  padding-left: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;

  @media (min-width: @tablet-width) {
    padding-bottom: 10px;
    margin-bottom: 5px;
    padding-top: 10px;
  }
}

.options__label--program::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background: #68b738;
  margin-top: 0;
  left: 9px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.options__label--program::after {
  content: "";
  border: 1px solid @silver;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
}

.options__selections--components {
  display: flex;
}

.options__label--components {
  width: 100%;
  position: relative;
  padding-left: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.options__label--components::before {
  content: "";
  /*display: none;*/
  position: absolute;
  left: 9px;
  top: 50%;
  margin-top: -3px;
  width: 12px;
  height: 21px;
  border-right: 1px solid @bright-green;
  border-bottom: 1px solid @bright-green;
  transform: translateY(-50%) rotate(45deg);
}

.options__label--components::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
  height: 26px;
  border: 1px solid @border-color-basic;
}
