.page-header {
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
  position: relative;
  margin: 0;
  padding-top: 12px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 54px;
    padding-top: 0;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 54px;
    position: relative;
  }
}

.page-header--index-page::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 696px;
  background-color: @green-second;
  z-index: -2;
  background-image: url("../img/index-background-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: right top;
}
