.product {
  border-top: 1px solid @border-grey;
  padding-bottom: 30px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    background-color: @neutral;
  }

  @media (min-width: @desktop-width) {
    min-width: 245px;
    min-height: 431px;
    padding: 0;
  }
}

.product__wrap {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    min-height: 431px;
  }
}

.product__details-table {
  font-family: @font-part;
  font-weight: @normal-weight;
  color: @dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 1;
  }

  @media (min-width: @desktop-width) {
    font-size: 12px;
  }
}
