.product {
  border-top: 1px solid @border-grey;
  padding-bottom: 30px;
  padding-right: 20px;
  text-align: center;

  @media (min-width: @tablet-width) {
    max-width: 324px;
    max-height: 511px;
    padding-left: 38px;
    padding-right: 0;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    max-width: 245px;
    max-height: 431px;
  }
}

.product__wrap {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.product__details-table {
  font-family: @font-part;
  font-weight: @normal;
  color: @dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 1;
  }

  @media (min-width: @desktop-width) {
    font-size: 12px;
  }
}
