.program {
  background-color: @neutral;
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
  padding-top: 21px;
  padding-left: 19px;
  padding-bottom: 18px;
  padding-right: 33px;

  @media (min-width: @tablet-width) {
    margin: 0;
    display: flex;
    flex-direction: row;
    padding-top: 77px;
    padding-left: 52px;
    padding-bottom: 53px;
    padding-right: 62px;
  }

  @media (min-width: @desktop-width) {
    max-width: 570px;
    padding-right: 51px;
    padding-top: 41px;
    padding-bottom: 55px;
  }
}

.program__img {
  position: relative;

  @media (min-width: @tablet-width) {
    order: 2;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    max-width: 100px;
    order: 0;
  }
}

.program__img::before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  background-color: @bright-green;
  border-radius: 50%;
  width: 50px;
  height: 50px;

  @media (min-width: @tablet-width) {
    width: 200px;
    height: 200px;
  }

  @media (min-width: @desktop-width) {
    width: 100px;
    height: 100px;
  }
}

.program__title {
  font-weight: @normal-weight;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 1;
  }

  @media (min-width: @desktop-width) {
    padding-left: 62px;
    margin-bottom: 73px;
  }
}

.program__text {
  font-family: @font-part;
  font-weight: @normal-weight;
  color: @dark-grey;
  margin-top: 29px;
  margin-bottom: 23px;
  font-size: 14px;
  line-height: 1.2;
  max-width: 227px;

  @media (min-width: @tablet-width) {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    max-width: 377px;
    margin-bottom: 48px;
    padding-right: 17px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    margin-bottom: 23px;
    padding: 0;
  }
}

.program__subject {
  color: @basic-black;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.5;
  }
}
