.rubric {
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
display: flex;
flex-direction: row;
flex-wrap: wrap;

  }
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  }

.rubric__item {
list-style: none;
font-family: @font-part;
font-weight: 400;
color: @dark-grey;
padding-left: 20px;
padding-bottom: 24px;
max-width: 200px;
font-size: 14px;
line-height: 18px;
@media (max-width: @mobile-width) {
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  max-width: auto;
  font-size: 16px;
line-height: 24px;
}
@media (min-width: @tablet-width) {
  font-size: 16px;
  line-height: 24px;
  max-width: 246px;
}
@media (min-width: @desktop-width) {
  font-size: 16px;
  line-height: 24px;
  max-width: 246px;
}
}
.rubric__item--powder {
  @media (min-width: @tablet-width) {
margin-left: 153px;
margin-bottom: 37px;
  }
  @media (min-width: @desktop-width) {
    margin: 0;
  }
}
.rubric__item--clock {
  @media (min-width: @tablet-width) {
    margin-left: 153px;
    margin-bottom: 47px;

  }
  @media (min-width: @desktop-width) {
    margin: 0;

  }
}
