.site-list {
  padding: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-top: 70px;
  }
}

.site-list__item {
  list-style: none;
  padding-top: 22px;
  padding-bottom: 24px;
  color: @basic-black;
  border-top: 1px solid @grey;

  &:hover {
    color: @opacity-color-first;
  }

  &:active {
    color: @opacity-color-second;
  }

  @media (min-width: @tablet-width) {
    border: none;
    padding: 0;
  }
}

.site-list__item--active {
  @media (min-width: @tablet-width) {
    border-bottom: 2px solid @bright-green;
  }
}

.site-list__link {
  font-size: 20;
  line-height: 1;
  font-weight: 500;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 1.3;
    padding-left: 36px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 33px;
    font-size: 20px;
    line-height: 1.5;
  }
}
