.start {
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
  @media (max-width: @mobile-width) {}
  @media (min-width: @tablet-width) {
      padding-left: 117px;
      padding-top: 64px;
      padding-right: 237px;
  }
  @media (min-width: @desktop-width) {
      padding-top: 111px;
      padding-bottom: 281px;
      padding-left: 190px;
  }
}
