
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: top center;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}
.main-nav__wrapper {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
.site-list__item{
  list-style: none;
}
.page-main {
  background-color: var(--bright-green);
}
.page-main__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-white);
  text-transform: uppercase;
}
.introduction__tagline {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: var(--basic-white);
  text-transform: uppercase;
}
