.subject__link {
  font-weight: @normal-weight;
  color: @basic-black;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.5;
  }

  @media (min-width: @desktop-width) {}
}
