.table {
  padding-bottom: 22px;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    padding-bottom: 33px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
  }
}

.table__name {
  font-weight: @normal-weight;
  text-transform: uppercase;
  color: @special-dark-grey;
  font-size: 16px;
  line-height: 1.2;
  max-width: 76px;

  @media (min-width: @tablet-width) {
    margin-bottom: 21px;
    margin-top: 24px;
    margin-left: 68px;
    font-size: 20px;
    max-width: 140px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 5px;
    margin-top: 46px;
    line-height: 1;
    margin-left: 52px;
    margin-right: 46px;
    max-width: 145px;
  }
}
