// Colors
@basic-white: #FFFFFF;
@basic-black: #000000;
@neutral: #F2F2F2;
@dark-grey: #444444;
@bright-green: #68B738;
@dark-black: #111111;
@special-dark-grey: #222222;
@grey: #E6E6E6;
@border-color-basic: #D9D9D9;
@border-grey: #EBEBEB;
@border-neutral: #CDCDCD;
@opacity-color-first: rgba(255, 255, 255, 0.6);
@opacity-color-second: rgba(255, 255, 255, 0.3);
@green-hover: #5EAA2F;
@grey: #EAEAEA;
@milk-color: #DCDCDC;
@white-grey: #d9d9d9;

// Viewports
@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width: 320px;
@max-mobile-width: 767px;

//Fonts
@font-full: "Oswald", "Arial", sans-serif;
@font-part: "Arial", sans-serif;
@normal-weight: 400;

//Retina
@retina-dpi: 144dpi;
@retina-dppx: 2dppx;
