body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  background-color: #FFFFFF;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-nav__wrapper {
  text-transform: uppercase;
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
}
@media (min-width: 768px) {
  .main-nav__wrapper {
    margin-top: 42px;
  }
}
@media (min-width: 1440px) {
  .main-nav__wrapper {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
  }
}
.main-nav__toggle {
  padding: 0;
  margin-top: 25px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 50px;
  height: 30px;
  background-color: #FFFFFF;
  cursor: pointer;
  border: none;
}
.main-nav__toggle:hover,
.main-nav__toggle:active {
  background-color: #FFFFFF;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 17px;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}
.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.3), 0 16px 0 0 rgba(0, 0, 0, 0.3);
}
@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none;
  }
  .main-nav--opened .main-nav__wrapper {
    position: relative;
    right: 0;
    left: 0;
    min-height: 40vh;
    background-color: #FFFFFF;
    font-size: 20px;
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }
  .main-nav--nojs .site-list__item {
    display: block;
  }
}
.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 18px;
  width: 22px;
  height: 1px;
  background-color: #000000;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(0, 0, 0, 0.3);
}
.site-list {
  padding: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .site-list {
    margin-top: 70px;
  }
}
.site-list__item {
  list-style: none;
  padding-top: 22px;
  padding-bottom: 24px;
  color: #000000;
  border-top: 1px solid #EAEAEA;
}
.site-list__item:hover {
  color: rgba(255, 255, 255, 0.6);
}
.site-list__item:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .site-list__item {
    border: none;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .site-list__item--active {
    border-bottom: 2px solid #68B738;
  }
}
.site-list__link {
  font-size: 20;
  line-height: 1;
  font-weight: 500;
}
@media (min-width: 768px) {
  .site-list__link {
    font-size: 18px;
    line-height: 1.3;
    padding-left: 36px;
  }
}
@media (min-width: 1440px) {
  .site-list__link {
    padding-left: 33px;
    font-size: 20px;
    line-height: 1.5;
  }
}
.introduction__wrap {
  font-family: "Oswald", "Arial", sans-serif;
  background-color: #68B738;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  width: 100%;
  min-height: 305px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .introduction__wrap {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 320px auto;
  }
}
@media (min-width: 768px) {
  .introduction__wrap {
    background-image: none;
    background-color: #FFFFFF;
  }
}
@media (min-width: 1440px) {
  .introduction__wrap {
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-size: 768px auto;
    /*delete img?*/
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .introduction__wrap {
    background-image: url("../img/index-background-desktop@2x.jpg");
  }
}
.introduction__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 1;
  font-size: 36px;
  margin: 0;
  padding-top: 27px;
  text-align: center;
}
@media (min-width: 768px) {
  .introduction__title {
    font-size: 60px;
    line-height: 1;
    color: #000000;
    padding: 0;
    text-align: start;
    max-width: 415px;
  }
}
.introduction__tagline {
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  color: #FFFFFF;
  padding-top: 25px;
  padding-bottom: 302px;
  font-size: 14px;
  line-height: 1;
  text-align: center;
}
@media (min-width: 768px) {
  .introduction__tagline {
    padding-top: 41px;
    padding-bottom: 49px;
    padding-left: 0;
    padding-right: 0;
    color: #000000;
    text-align: start;
    font-size: 20px;
    line-height: 1;
  }
}
@media (min-width: 1440px) {
  .introduction__tagline {
    padding-top: 40px;
    padding-bottom: 52px;
  }
}
.button {
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #68B738;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 14px;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .button {
    font-size: 20px;
    line-height: 0px;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}
.button--order {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 109px;
  padding-right: 109px;
}
.button--order:hover,
.button--order:focus {
  background-color: #5EAA2F;
}
.button--order:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .button--order {
    padding-left: 93px;
    padding-right: 93px;
  }
}
@media (min-width: 1440px) {
  .button--order {
    margin-top: 20px;
    padding-left: 53px;
    padding-right: 53px;
  }
}
.program {
  background-color: #F2F2F2;
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
  padding-top: 21px;
  padding-left: 19px;
  padding-bottom: 18px;
  padding-right: 33px;
}
@media (min-width: 768px) {
  .program {
    margin: 0;
    display: flex;
    flex-direction: row;
    padding-top: 77px;
    padding-left: 52px;
    padding-bottom: 53px;
    padding-right: 62px;
  }
}
@media (min-width: 1440px) {
  .program {
    max-width: 570px;
    padding-right: 51px;
    padding-top: 41px;
    padding-bottom: 55px;
  }
}
@media (min-width: 768px) {
  .program__img {
    order: 2;
  }
}
@media (min-width: 1440px) {
  .program__img {
    margin: 0;
    max-width: 100px;
    order: 0;
    position: relative;
  }
}
.program__img::before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #68B738;
  border-radius: 50%;
  z-index: 0;
}
.program__title {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .program__title {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 1;
  }
}
@media (min-width: 1440px) {
  .program__title {
    padding-left: 62px;
    margin-bottom: 73px;
  }
}
.program__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: #444444;
  margin-top: 29px;
  margin-bottom: 23px;
  font-size: 14px;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .program__text {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    max-width: 377px;
    margin-bottom: 48px;
    padding-right: 17px;
  }
}
@media (min-width: 1440px) {
  .program__text {
    margin-top: 0;
    margin-bottom: 23px;
    padding: 0;
  }
}
.program__subject {
  color: #000000;
}
@media (min-width: 768px) {
  .program__subject {
    font-size: 20px;
    line-height: 1.5;
  }
}
.subject__link {
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1;
}
.subject__link:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .subject__link {
    font-size: 20px;
    line-height: 1.5;
    position: relative;
  }
}
.subject__link::after {
  content: "";
  right: -60px;
  top: 10px;
  position: absolute;
  width: 32px;
  height: 10px;
  background-image: url(../img/icon-right-arrow-long.svg);
  background-repeat: no-repeat;
}
.explanations {
  background-color: #FFFFFF;
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .explanations {
    padding-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .explanations {
    padding-bottom: 11px;
  }
}
.explanations__title {
  font-weight: 400;
  color: #000000;
  padding-bottom: 38px;
  margin: 0;
  font-size: 36px;
  line-height: 1.1;
}
@media (min-width: 768px) {
  .explanations__title {
    padding-bottom: 32px;
    font-size: 60px;
    line-height: 1;
  }
}
.rubric {
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .rubric {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.rubric__item {
  list-style: none;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: #444444;
  padding-left: 20px;
  padding-bottom: 24px;
  max-width: 200px;
  font-size: 14px;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .rubric__item {
    font-size: 16px;
    line-height: 1.5;
    max-width: 246px;
    padding-left: 0;
    position: relative;
  }
}
@media (min-width: 768px) {
  .rubric__item--powder,
  .rubric__item--clock {
    margin-left: 153px;
    margin-bottom: 37px;
  }
}
@media (min-width: 1440px) {
  .rubric__item--powder,
  .rubric__item--clock {
    margin: 0;
  }
}
.rubric__item::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #68B738;
  left: -20px;
}
.rubric__item::after {
  background-repeat: no-repeat;
  left: -5px;
  top: 15px;
}
.rubric__item:first-child::after {
  background-image: url(../img/advantage-leaf@1x.png);
}
.rubric__item:nth-child(2)::after {
  background-image: url(../img/advantage-powder@1x.png);
}
.rubric__item:nth-child(3)::after {
  background-image: url(../img/advantage-dining@1x.png);
}
.rubric__item:last-child::after {
  background-image: url(../img/advantage-clock@1x.png);
}
.rubric__item--leaf::after {
  content: "1";
  position: absolute;
  color: #F2F2F2;
  font-size: 281px;
  line-height: 235px;
}
.rubric__item--powder::after {
  content: "2";
  position: absolute;
  color: #F2F2F2;
  font-size: 281px;
  line-height: 235px;
}
.rubric__item--supper::after {
  content: "3";
  position: absolute;
  color: #F2F2F2;
  font-size: 281px;
  line-height: 235px;
}
.rubric__item--clock::after {
  content: "4";
  position: absolute;
  color: #F2F2F2;
  font-size: 281px;
  line-height: 235px;
}
.social__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
@media (min-width: 768px) {
  .social__list {
    padding: 0;
  }
}
.social__item {
  list-style: none;
  padding-left: 33px;
  padding-bottom: 43px;
}
@media (min-width: 768px) {
  .social__item {
    padding-left: 27px;
    padding-bottom: 0;
  }
}
.copyright__link {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #444444;
}
.copyright__logo {
  margin-left: 50px;
}
@media (min-width: 768px) {
  .copyright__logo {
    padding-top: 0;
    margin-left: 22px;
  }
}
.catalog {
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
}
.catalog__title {
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  line-height: 1;
  margin-top: 27px;
  margin-bottom: 41px;
}
@media (min-width: 768px) {
  .catalog__title {
    margin-top: 10px;
    margin-bottom: 83px;
    font-size: 60px;
    line-height: 1;
  }
}
@media (min-width: 1440px) {
  .catalog__title {
    margin-bottom: 84px;
    margin-top: 20px;
  }
}
.catalog__wrap {
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .catalog__wrap {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin-bottom: 68px;
  }
}
@media (min-width: 1440px) {
  .catalog__wrap {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    margin-bottom: 63px;
  }
}
.table {
  padding-bottom: 22px;
  margin-left: 20px;
}
@media (min-width: 768px) {
  .table {
    padding-bottom: 33px;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .table {
    padding-bottom: 0;
  }
}
.table__name {
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  font-size: 16px;
  line-height: 1.2;
  max-width: 76px;
}
@media (min-width: 768px) {
  .table__name {
    margin-bottom: 21px;
    margin-top: 24px;
    margin-left: 68px;
    font-size: 20px;
    max-width: 140px;
  }
}
@media (min-width: 1440px) {
  .table__name {
    margin-bottom: 5px;
    margin-top: 46px;
    line-height: 1;
    margin-left: 52px;
    margin-right: 46px;
    max-width: 145px;
  }
}
.product {
  border-top: 1px solid #EBEBEB;
  padding-bottom: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .product {
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    background-color: #F2F2F2;
  }
}
@media (min-width: 1440px) {
  .product {
    min-width: 245px;
    min-height: 431px;
    padding: 0;
  }
}
.product__wrap {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
@media (min-width: 768px) {
  .product__wrap {
    display: block;
  }
}
@media (min-width: 1440px) {
  .product__wrap {
    min-height: 431px;
  }
}
.product__details-table {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: #444444;
}
@media (min-width: 768px) {
  .product__details-table {
    font-size: 16px;
    line-height: 1;
  }
}
@media (min-width: 1440px) {
  .product__details-table {
    font-size: 12px;
  }
}
.more {
  text-align: center;
  margin-bottom: 25px;
  border: 2px solid #F2F2F2;
}
@media (min-width: 768px) {
  .more {
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .more {
    max-width: 245px;
    max-height: 512px;
  }
}
.more__button {
  background-color: #F2F2F2;
  color: #444444;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 84px;
  padding-right: 84px;
}
.more__button:hover,
.more__button:focus {
  background-color: #F2F2F2;
}
.more__button:active {
  background-color: #F2F2F2;
  opacity: 0.3;
}
@media (min-width: 768px) {
  .more__button {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (min-width: 1440px) {
  .more__button {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.page-footer__wrapper {
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
  display: flex;
  flex-direction: column;
  padding-top: 39px;
  padding-bottom: 22px;
  padding-left: 19px;
  padding-right: 20px;
  text-align: center;
  background-color: #F2F2F2;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    padding-top: 55px;
    padding-bottom: 61px;
  }
}
@media (min-width: 1440px) {
  .page-footer__wrapper {
    padding-top: 57px;
    padding-bottom: 58px;
  }
}
.page-footer__tagline {
  padding-bottom: 32px;
}
@media (min-width: 768px) {
  .page-footer__tagline {
    padding-bottom: 0;
  }
}
.detail__name {
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 8px;
  margin-top: 23px;
}
@media (min-width: 768px) {
  .detail__name {
    margin-top: 49px;
    margin-bottom: 23px;
    margin-left: 80px;
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    max-width: 134px;
  }
}
@media (min-width: 1440px) {
  .detail__name {
    margin-left: 60px;
    margin-right: 0;
    font-size: 16px;
  }
}
.detail__text {
  font-weight: 400;
  color: #444444;
  font-size: 12px;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .detail__text {
    margin-bottom: 0;
    margin-left: 80px;
    max-width: 134px;
    padding-bottom: 87px;
    font-size: 16px;
    line-height: 1.1;
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .detail__text {
    margin-left: 60px;
  }
}
.page {
  height: 100%;
}
.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
.page-main__wrapper {
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
}
.page-header {
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
  position: relative;
  margin: 0;
  padding-top: 12px;
}
@media (min-width: 768px) {
  .page-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 54px;
    padding-top: 0;
  }
}
@media (min-width: 1440px) {
  .page-header {
    padding-bottom: 54px;
    position: relative;
  }
}
.page-header--index-page::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 696px;
  background-color: #64a83b;
  z-index: -2;
  background-image: url(../img/index-background-desktop@1x.jpg);
  background-repeat: no-repeat;
  background-position: right top;
}
.logo-image {
  padding-right: 0;
}
.logo-image:hover {
  color: rgba(255, 255, 255, 0.6);
}
.logo-image:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .logo-image {
    padding-top: 25px;
    width: 174px;
    height: 52px;
  }
}
@media (min-width: 1440px) {
  .logo-image {
    padding-top: 53px;
    width: 202px;
    height: 60px;
  }
}
.start {
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
}
@media (min-width: 768px) {
  .start {
    padding-left: 70px;
    padding-top: 10px;
    padding-right: 0;
  }
}
@media (min-width: 1440px) {
  .start {
    padding-top: 0;
    padding-bottom: 281px;
    padding-left: 80px;
  }
}
.start__btn {
  color: #FFFFFF;
}
.start__btn:hover,
.start__btn:focus {
  background-color: #5EAA2F;
}
.start__btn:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .start__btn {
    margin: 0;
  }
}
.parameters {
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1440px) {
  .parameters {
    max-width: 180px;
    margin: 0 auto;
  }
}
.parameters p {
  margin-top: 4px;
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 1.3;
  color: #444444;
  width: 76px;
}
@media (min-width: 768px) {
  .parameters p {
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  .parameters p {
    margin-top: 17px;
    line-height: 1;
  }
}
.schedule {
  margin-bottom: 27px;
  margin-top: 22px;
}
@media (min-width: 768px) {
  .schedule {
    margin-bottom: 45px;
    margin-top: 30px;
  }
}
@media (min-width: 1440px) {
  .schedule {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 71px;
    margin-top: 0;
  }
}
.schedule__gain {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .schedule__gain {
    margin-top: 30px;
  }
}
@media (min-width: 1440px) {
  .schedule__gain {
    margin: 0;
  }
}
.container {
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
  margin: 0 auto;
  min-width: 320px;
  padding: 0 20px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
    min-width: 768px;
  }
}
@media (min-width: 1440px) {
  .container {
    min-width: 1440px;
    padding: 0 40px;
  }
}
/*я потом разобью это на блоки. Это относится только ко второй части проекта.*/
.example {
  background-color: #EAEAEA;
}
.example__title {
  font-size: 36px;
  font-style: normal;
  line-height: 1.1;
  color: #000000;
  padding-top: 27px;
  margin-top: 0;
  margin-bottom: 33px;
}
@media (min-width: 768px) {
  .example__title {
    font-size: 60px;
    line-height: 1;
    padding-top: 43px;
    margin-bottom: 63px;
  }
}
@media (min-width: 1440px) {
  .example__title {
    background-color: #FFFFFF;
    margin: 0;
    padding-bottom: 76px;
  }
}
.explanation {
  font-size: 14px;
  line-height: 1.2;
}
@media (min-width: 1440px) {
  .explanation {
    display: flex;
    justify-content: space-between;
  }
}
.explanation__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 25px;
  color: #444444;
}
@media (min-width: 768px) {
  .explanation__text {
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 54px;
    max-width: 708px;
  }
}
@media (min-width: 1440px) {
  .explanation__text {
    max-width: 436px;
    padding-bottom: 69px;
    padding-top: 70px;
  }
}
.explanation__price {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 1.4;
  color: #000000;
  margin-top: 26px;
  margin-bottom: 42px;
}
@media (min-width: 768px) {
  .explanation__price {
    font-size: 20px;
    line-height: 1;
    max-width: 174px;
    text-align: end;
    margin-top: 5px;
    margin-bottom: 42px;
  }
}
@media (min-width: 1300px) {
  .explanation__price {
    max-width: 700px;
    text-align: left;
    margin-top: 55px;
    margin-bottom: 75px;
  }
}
.ins__section {
  display: flex;
  justify-content: space-around;
  min-width: 400px;
}
@media (min-width: 768px) {
  .ins__section {
    justify-content: space-around;
  }
}
.ins {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 768px) {
  .ins {
    flex-direction: row;
    min-width: 400px;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .ins {
    flex-direction: column;
    min-width: 400px;
    justify-content: space-between;
  }
}
.ins__parameter {
  display: flex;
  flex-direction: column;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  min-width: 162px;
  min-height: 77px;
  position: relative;
}
.ins__parameter--number {
  padding-bottom: 8px;
  font-size: 24px;
  line-height: 1;
  color: #000000;
}
@media (min-width: 768px) {
  .ins__parameter--number {
    padding-bottom: 11px;
    font-size: 30px;
    line-height: 1.2;
  }
}
.ins__parameter--text {
  color: #444444;
  font-size: 12px;
  line-height: 1;
  font-family: "Arial", sans-serif;
}
@media (min-width: 768px) {
  .ins__parameter--text {
    font-size: 14px;
    position: absolute;
    left: 20px;
    top: 70px;
    z-index: 2;
  }
}
.comparison {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
@media (min-width: 768px) {
  .comparison {
    justify-content: space-between;
    padding-right: 62px;
    padding-left: 56px;
  }
}
@media (min-width: 1440px) {
  .comparison {
    padding: 0;
  }
}
.comparison__time {
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  margin-top: 27px;
  margin-bottom: 31px;
}
@media (min-width: 768px) {
  .comparison__time {
    font-size: 20px;
    line-height: 1.5;
    border-bottom: 1px dashed #000000;
    margin-bottom: 68px;
  }
}
@media (min-width: 1440px) {
  .comparison__time {
    margin: 0;
  }
}
.cooperation {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 23px;
}
@media (min-width: 768px) {
  .cooperation {
    justify-content: space-around;
    padding-top: 66px;
    padding-bottom: 51px;
  }
}
@media (min-width: 1440px) {
  .cooperation {
    max-width: 570px;
  }
}
.cooperation__text {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.1;
  color: #111111;
}
@media (min-width: 768px) {
  .cooperation__text {
    font-size: 20px;
    line-height: 1;
    max-width: 171px;
  }
}
.cooperation__adress {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #444444;
}
@media (min-width: 768px) {
  .cooperation__adress {
    text-align: end;
    max-width: 159px;
    font-size: 16px;
    line-height: 1.2;
  }
}
@media (min-width: 1440px) {
  .cooperation__adress {
    text-align: start;
  }
}
/*catalog*/
@media (min-width: 1440px) {
  .additional__wrap {
    display: flex;
    flex-direction: row;
    padding-bottom: 86px;
  }
}
.additional__title {
  text-align: start;
  font-size: 24px;
  line-height: 1;
  color: #000000;
  margin-top: 28px;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .additional__title {
    font-size: 36px;
    margin-top: 68px;
    margin-bottom: 80px;
  }
}
@media (min-width: 1440px) {
  .additional__title {
    margin-top: 76px;
    margin-bottom: 81px;
  }
}
.additional__gift {
  text-align: center;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  line-height: 1.2;
  max-width: 160px;
  margin-right: 61px;
  margin-left: 68px;
}
@media (min-width: 768px) {
  .additional__gift {
    text-align: start;
  }
}
@media (min-width: 1440px) {
  .additional__gift {
    text-align: center;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-repeat: no-repeat;
    color: white;
    position: relative;
  }
}
.additional__gift::after {
  content: "";
  position: absolute;
  background-image: url(../img/icon-gift.svg);
  background-repeat: no-repeat;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 80px;
  height: 83px;
}
.additional__cooperation {
  background-color: #F2F2F2;
}
.variant {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .variant {
    flex-direction: row;
    justify-content: space-between;
  }
}
.variant__title {
  text-align: start;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1;
  color: #222222;
  margin-bottom: 13px;
  margin-top: 13px;
}
@media (min-width: 768px) {
  .variant__title {
    flex-direction: row;
    margin-bottom: 28px;
    margin-top: 26px;
    font-size: 20px;
  }
}
.packaging {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  font-family: "Arial", sans-serif;
}
@media (min-width: 768px) {
  .packaging {
    padding-bottom: 0;
    margin-top: 30px;
  }
}
.packaging__parameters {
  font-family: "Arial", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 1;
}
@media (min-width: 768px) {
  .packaging__parameters {
    font-size: 16px;
    line-height: 1.1;
    padding-left: 51px;
  }
}
.packaging__parameters--price {
  text-transform: uppercase;
}
.goods {
  border-top: 1px solid #CDCDCD;
  text-align: center;
  min-height: 130px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .goods {
    border: 1px solid #CDCDCD;
    padding-left: 38px;
    padding-right: 37px;
  }
}
@media (min-width: 1440px) {
  .goods {
    padding-right: 0;
    flex-direction: row;
    justify-content: space-between;
    min-height: 72px;
  }
}
.goods__order {
  color: #FFFFFF;
  background-color: #68B738;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-transform: uppercase;
  font-size: 16px;
}
@media (min-width: 1440px) {
  .goods__order {
    padding-left: 70px;
    padding-right: 70px;
    margin-top: 15px;
    margin-bottom: 17px;
    margin-left: 40px;
    max-height: 20px;
  }
}
@media (min-width: 1440px) {
  .goods--vitamins {
    border-bottom: 1px solid #CDCDCD;
  }
}
/*form*/
.selection__title {
  font-size: 36px;
  line-height: 1;
  color: #000000;
  margin-bottom: 37px;
  margin-top: 27px;
}
@media (min-width: 768px) {
  .selection__title {
    font-size: 60px;
    margin-bottom: 56px;
  }
}
.selection__text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
  margin-top: 0;
  margin-bottom: 39px;
  max-width: 226px;
}
@media (min-width: 768px) {
  .selection__text {
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 1.5;
    max-width: 323px;
  }
}
.options {
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
  text-align: start;
}
.options__name {
  font-size: 24px;
  line-height: 1;
  color: #000000;
  padding: 0;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .options__name {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 76px;
  }
}
.options__name--additional {
  margin-bottom: 34px;
  padding-top: 27px;
}
@media (min-width: 768px) {
  .options__name--additional {
    padding-bottom: 57px;
  }
}
.options__selections {
  padding-bottom: 13px;
  color: #444444;
  font-size: 16px;
  line-height: 1.1;
}
@media (min-width: 768px) {
  .options__selections {
    padding-bottom: 20px;
    font-size: 20px;
    line-height: 1.5;
  }
}
.options__selections input {
  padding-bottom: 13px;
  color: #444444;
  font-size: 16px;
  line-height: 1.1;
}
@media (min-width: 768px) {
  .options__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1440px) {
  .options__wrap {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1440px) {
  .options__communication {
    display: flex;
    justify-content: flex-start;
  }
}
.form {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
}
@media (min-width: 768px) {
  .form {
    font-size: 20px;
    line-height: 1;
  }
}
.form__contacts input {
  text-transform: uppercase;
}
@media (min-width: 1440px) {
  .form__main {
    display: flex;
    justify-content: space-between;
  }
}
.main__options {
  color: #444444;
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 13px;
}
.form__type {
  color: #222222;
  display: flex;
  flex-direction: column;
}
.form__contacts {
  color: #444444;
}
.form__comment {
  color: #444444;
}
.form__additional {
  color: #000000;
}
.form__button {
  text-transform: uppercase;
  background-color: #68B738;
  font-size: 16px;
  line-height: 1.2;
  color: #FFFFFF;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: none;
  text-align: center;
  margin-top: 34px;
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .form__button {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 20px;
    margin-top: 67px;
    margin-bottom: 72px;
  }
}
@media (min-width: 1440px) {
  .form__button {
    padding-left: 188px;
    padding-right: 188px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 20px;
    margin-top: 74px;
    margin-bottom: 95px;
  }
}
.form__note {
  font-family: "Arial", sans-serif;
  text-transform: initial;
  text-align: center;
  font-size: 14px;
  line-height: 1.1;
  color: #000000;
  margin-top: 0;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .form__note {
    margin-top: 90px;
    margin-bottom: 93px;
    margin-left: 61px;
    font-size: 16px;
    line-height: 1;
  }
}
@media (min-width: 1440px) {
  .form__note {
    margin-left: 81px;
  }
}
@media (min-width: 768px) {
  .form__sent {
    display: flex;
  }
}
.data__coopearation {
  background-color: #F2F2F2;
}
/* Ползунок */
.toddler {
  display: flex;
}
.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}
.range-controls {
  position: relative;
  height: 41px;
  padding-top: 19px;
  border-radius: 5px;
}
.range-controls .scale {
  height: 6px;
  background-color: #DCDCDC;
  width: 428px;
}
.scale {
  margin-left: 5px;
}
.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #FFFFFF;
  background-color: #68B738;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 black;
}
.range-controls .toggle-min {
  left: 18px;
}

/*# sourceMappingURL=style.css.map */
